.login-menu {
	margin-left: auto;
	margin-right: auto;
	border: solid black 1px;
	padding: 1em;
}
#login-body {
	z-index: 2;
	position: absolute;
	right: 40vw;
	width: 25vw;
	top: 10em;
	background-color: white;
}
.input-email {
	max-width: 20vw;
}
.buttonildo {
	margin-top: 1em;
	margin-bottom: 1em;
}
.validationUser {
	opacity: 0;
	transition: 1s;
	width: 0vw;
	height: 0vh;
	margin-left: 0.5em;
}