#main-body{
    margin-top: 5em;
}
.linha {
    margin-top: 3%;
}
#text-area{
    text-align: left;
    padding-right: 5%;
    padding-left:5%;
}
.campo-palavra{
    font-size: 10px;
    height: 4em;
    position: relative;
    bottom: 0.4em;
}
.descricao{
    padding-top: 0;
    font-size: 0.8em;
}
.palavra{
    padding-bottom: 1em;
}
.campo{
    width: 100%;
}
.gramatica {
    height: 8em;
    max-width: 100%;
}
.btn-m {
    width: 80%;
}
.btn-info {
    width: 100%;
}
.grid {
    display: grid;
}
.item {
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: bold;
}
.subgrid > div {
    background: rgba(0,0,0,.3);
}
.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid-template-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.grid-template-columns-5 {
    grid-template-columns: 1.5fr 1fr 1fr 2.2fr 0.9fr;
    width: 55%;
    min-height: 5em;
}
.G{
    background-image: url("../../img/vsigmaps/g.png");
    background-position: center;
    background-repeat: no-repeat;
}
.V{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/vsigmaps/v.png");
    background-position: center;
    background-repeat: no-repeat;
}
.E{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/vsigmaps/sigma.png");
    background-position: center;
    background-repeat: no-repeat;
}
.P{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/vsigmaps/p.png");
    background-position: center;
    background-repeat: no-repeat;
}
.S{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/vsigmaps/s.png");
    background-position: right;
    background-repeat: no-repeat;
}
.row{
    margin-top: 2em;
    font-size: 1.5em;
}
.fa-exclamation-circle{
    transform: rotate(180deg);
}

.conteudo {
    grid-column-gap: 20px;
}

#gramDesc {
    min-height: 10em;
}

div.Accordion {
    border-radius: 10px 10px 0 0;
}

div.Accordion__body {
    max-height: 25em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.item.cyk .Accordion .Accordion__body {
    width: 26VW;
}

div.Accordion__body.Accordion__body--collapsed{
    height: 0;
}

.Internal {
    cursor: pointer;
    width: 100%;
    background: rgba(0,0,0,.05);
}
.internal-gram{
    height: 8em;
    overflow-y: scroll;
}

.internal-gram.cyk {
    height: 20em;
}

/*
div .Accordion.Internal .Accordion__header {
    background-color: grey;
    width: auto;
    height: auto;
}

div .Accordion.Internal .Accordion__header::after {
    background: url(../../img/plus2.svg) no-repeat;
    transition: transform 0.3s;
    content: '';
    width: 22px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 15px;
}
*/

.submit-div {
    text-align: left;
}

.btn-time {
    background-color: rgba(244, 169, 15, 0.91);
    border-color: rgba(244, 169, 15, 0.91);
}

.btn-time:hover {
    background-color: rgba(255, 156, 9, 0.96);
    border-color: rgba(247, 154, 14, 0.96);
    color: white;
}

.body {
    max-width: 100%;
    overflow-x: hidden;
}

#text-area{
    padding-right: 0;
}

.col-12.col-sm-4{
    padding-top: 1.5em;
    padding-left: 0;
}

.btn-b {
    height: 9.5em;
}

.popover-info {
    padding-top: 1.5em;
    padding-left: 0;
}

/* Tooltip container */
.tooltiphtml .tooltiptext {
    visibility: hidden;
    width: 123px;
    background-color: #000;
    color: #f9f5f5;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 64%;
    margin-left: 39px;
    margin-top: -10px;
    /* left: 50%; */
    
}

.tooltiphtml .tooltiptext::after {
    content: "";
    position: absolute;
    top: 42%;
    right: 100%;
    margin-top: -6px;
    border-width: 11px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltiphtml:hover .tooltiptext {
    visibility: visible;
}

.btn-group-toggle {
    display: grid;
}

.btn .btn-secondary .btnLabel {
    border-color: white;
}

button#ok {
    font-weight: bold;
}

.grammarInput {
    display: flex;
    justify-content: center;
}

.item {
    margin-bottom: 1em;
    margin-top: 1em;
}
.danger {
    opacity: 0.45;
}
#accademic {
    margin-bottom: 5em;
}
.hist-popup{
}