.linha {
    margin-top: 3%;
}
#text-area{
    text-align: left;
    padding-right: 5%;
    padding-left:5%;
}
.descricao{
    padding-top: 0;
    font-size: 0.8em;
}
.palavra{
    padding-bottom: 1em;
}
.campo{
    width: 100%;
}
.gramatica {
    height: 14em;
}
.btn-m {
    min-width: 15em;
}
.grid {
    display: grid;
}
.item {
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: bold;
}
.subgrid > div {
    background: rgba(0,0,0,.3);
}
.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid-template-columns-1 {
    grid-template-columns: 1fr;
}

.row{
    margin-top: 2em;
    font-size: 1.5em;
}
.fa-exclamation-circle{
    transform: rotate(180deg);
}

.conteudo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.Accordion {
    border-radius: 10px;
}

  .Accordion__header { 
    font-family: font-bold, Arial; 
    border: 1px groove;
    box-shadow: 1px 1px 1px black;
    background: #353131;
    font-size: small;
}

.submit-div {
    text-align: left;
}

.btn.btn-primary.btn-m.time {
    background-color: rgba(250, 154, 9, 0.966);
    border: none;
}

.body {
    max-width: 100%;
    overflow-x: hidden;
}

#text-area{
    padding-right: 0;
}

.col-12.col-sm-4{
    padding-top: 1.5em;
    padding-left: 0;
}

.btn-b {
    height: 18.5em;
}

.popover-info {
    padding-top: 1.5em;
    padding-left: 0;
}

/* Tooltip container */
.tooltiphtml .tooltiptext {
    visibility: hidden;
    width: 123px;
    background-color: #000;
    color: #f9f5f5;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 64%;
    margin-left: 39px;
    margin-top: -10px;
    /* left: 50%; */
    
}

.tooltiphtml .tooltiptext::after {
    content: "";
    position: absolute;
    top: 42%;
    right: 100%;
    margin-top: -6px;
    border-width: 11px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltiphtml:hover .tooltiptext {
    visibility: visible;
}

.btn-group-toggle {
    display: grid;
}

.btn .btn-secondary .btnLabel {
    border-color: white;
}