.linha {
    margin-top: 3%;
}
#text-area{
    text-align: right;
    padding-right: 5%;
    padding-left:5%;
}
.descricao{
    padding-top: 0;
    font-size: 0.8em;
}
.palavra{
    padding-bottom: 1em;
}
.campo{
    max-width: 20em;
}
.btn-m {
    min-width: 10em;
}
.grid {
    display: grid;
}
.item {
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: bold;
}
.subgrid > div {
    background: rgba(0,0,0,.3);
}
.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid-template-columns-1 {
    grid-template-columns: 1fr;
}
.col2{
    padding-right: 15em;
}
.row{
    margin-top: 6em;
    font-size: 1.5em;
}
#ok{
    margin-bottom: 5em;
}
.fa-exclamation-circle{
    transform: rotate(180deg);
}

.conteudo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.Accordion {
    border-radius: 10px;
}

  .Accordion__header { 
    font-family: font-bold, Arial; 
    border: 1px groove;
    box-shadow: 1px 1px 1px black;
    background: #353131;
    font-size: small;
}
